.accordion-container {
    padding-top: 1em;
    margin: 1em;
    width: 40em;
    margin: 0 auto;
    font-weight: 600;
    color: rgb(20, 20, 184);
    min-height: 50em;
}
.accordion-container:hover {
    color: rgb(10, 10, 10);
}

.accordion-container:hover .span_img {
    opacity: 1;
}

.wrapper_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em 1em;
    border-top: 0.1em solid rgb(190, 188, 188);
}

.span_img {
    background-image: url(assets/svg/close-button-icon.svg);
    background-size: contain;
    width: 1em;
    height: 1em;
    transition: background-image 0.3s ease;
    cursor: pointer;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.accordion_label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    line-height: 0.4;
    font-size: 1.5em;
    padding-top: 0.4em;
    width: 100%;
}
.accordion_head {
    display: none;
}

.accordion_head:checked + .accordion_label,
.accordion_head:hover + .accordion_label
{
    transition: height 0.5s ease-in;
    height: 17em;
}

.accordion_head:hover ~ .accordion_input_img img,
.accordion_head:checked ~ .accordion_input_img img {
    transition: height 0.5s ease-in;
    height:10em;
    width:18em;
}


.accordion_head:checked ~ .span_img,
.accordion_head:hover ~ .span_img   {
    background-image: url(assets/svg/mathematics-sign-plus-outline-icon.svg);
    transition: all 0.3s ease;
}

.accordion_input_img {
    margin: 0 auto;
    margin-top: 1.2em;
}

.accordion_input_img img {
    transition:
        height 0.3s ease-in,
        width 0.3s ease-in;
    height: 0em;
    width: 0em;
}

.accordion_input_img {
    box-shadow: 0;
    transition: box-shadow 0.5s;
}

.accordion_input_img:hover {
    box-shadow: 0.5em -0.2em 0.2em rgb(190, 188, 188);
}

@media  (max-width: 320px ) {
    * ,
    body,
    .accordion-container {
        cursor: none;
    } 

    .wrapper_item {
        margin: 0.2em 1.5em;
    }

    .accordion_label {
        font-size: 2em;
        padding: 0.5em 0;
        line-height: 0.2em;
    }

    .accordion_input_img {
        padding-top: 0.7em;
    }

    .accordion_head:checked + .accordion_input_img img,
    .accordion_head:hover + .accordion_input_img img {  
        transition: height 0.5s ease-in;
        height:7em;
        width:14em;
    }
}

@media  (max-width: 820px ) { 
    .accordion_input_img {
        padding-top: 0.8em;
    }
}

@media  (min-width: 1920px ) { 
    body {
      font-size: 3em;
    }

    .accordion_input_img {
        padding-top: 1em;
    }
}